body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-radial-gradient(lightcyan,magenta, aqua, purple, blue);
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    border-style: ridge;
    border-radius: 10px;
    border-width: 20px;
    border-color: aqua;
    background-image:-webkit-radial-gradient( aqua, teal, blue,purple);
}


h1 {
    font-size: 40px;
    color:navy;
    font-weight: bold;
    border-radius: 10px;
    border-width: 20px;
    padding: 10px;
    border-color: aqua;
    border-style: ridge;
    background-image:-webkit-radial-gradient(lightcyan,lime,teal);
}

H2 {
    font-size: 2rem;
    color: navy;
    font-weight: bold;
    border-color: aqua;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    padding: 10px;
    background-image:-webkit-radial-gradient(lightcyan,lime,teal);
}

.search {
    align-items: center;
    text-align: center;
    text-transform:capitalize;
    font-weight: bold;
    margin-right: 10vw;
}

.searchbtn {
    font-weight: bold;
    border-radius: 10px;
    border-width: 10px;
    border-color: lime;
    border-style: ridge;
    background-image:-webkit-radial-gradient(yellow,magenta, aqua, purple);
    cursor: pointer;
    color: navy;
    height: 8vh;
    width: 8vw;
    font-size: 2rem;
}

.searchbtn:hover {
    font-size: 2.5rem;
    font-weight: bolder;
}

#search-input {
    height: 7vh;
    width: 15vw;
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    color: black;
    border-color: aqua;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    border-width: 10px;
    background-color: lightgray;
}

.input {
    display: flex;
    flex-direction: row;
}

.historyBtn {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-transform:capitalize;
    width: 12vw;
    font-size: 2rem;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    color: navy;
    background-image:-webkit-radial-gradient(lightcyan,magenta, teal);
    border-radius: 10px;
    border-width: 10px;
    border-color: lime;
    border-style:dotted;
}

.historyBtn:hover {
    font-size: 2.2rem;
    font-weight: bolder;
}


.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.current {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    text-transform:capitalize;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    padding:10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    border-color: aqua;
    color:navy;
    background-image:-webkit-radial-gradient(lightcyan, aqua, teal,purple);
}

.weather-today {
    font-size: 25px;
    font-weight: bolder;
    color: navy;
    padding: 10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    border-color: magenta;
    background-image: -webkit-radial-gradient(yellow, lightcyan, aqua);
}

.fiveday {
    /* display: flex;
    flex-direction: row; */
    width: 70vw;
    align-items: center;
    text-align: center;
    text-transform:capitalize;
    font-weight: bolder;
    margin: 10px;
    padding:10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    border-color: aqua;
    color:navy;
    background-image:-webkit-radial-gradient(lightcyan, aqua, teal, purple);
}

.weatherdata, .eachDay {
    font-size: 25px;
    font-weight: bolder;
    color: navy;
    padding: 10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    border-color: magenta;
    background-image: -webkit-radial-gradient(yellow, lightcyan, aqua);
}

.favorable {
    background-image:-webkit-radial-gradient(lime,green);
}
.moderate {
    background-image: -webkit-radial-gradient(yellow, goldenrod);
}
.severe {
    background-image: -webkit-radial-gradient(orangered, red);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: ridge;
    border-radius: 10px;
    border-width: 20px;
    border-color: lime;
    background-image: -webkit-radial-gradient(yellow, magenta, aqua);
    color: navy;
    font-size: 35px;
    font-weight: bold;
    margin:10px;
    padding: 20px;
}
