body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-repeating-linear-gradient(rgba(0,0,128,.75),rgba(0,255,255,.75) 10%,rgba(0,128,0,.75) 20%);
}

header, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    border-style: groove;
    border-radius: 10px;
    border-width: 10px;
    border-color: aqua;
    background-color: lightcyan;
    font-size: 4rem;
    color:navy;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

H2 {
    font-size: 2rem;;
    color: navy;
    font-weight: bold;
    margin:10px; 
}

.search-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style:ridge;
    border-radius: 10px;
    border-color: aqua;
    border-width: 10px;
    margin: 10px;
    padding:10px;
    background-color: lightcyan;
}

#search-label {
font-weight: bold;
color: navy;
font-size: 2rem;
}

#search-input {
    height: 8vh;
    width: 12vw;
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    border-width: 10px;
    background:mediumaquamarine;
}

.search-history-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn {
height: 8vh;
width: 12vw;
font-size: 2rem;
margin: 10px;
font-weight: bold;
border-radius: 10px;
cursor: pointer;
color: black;
background: mediumaquamarine;
}
.btn:hover {
    font-size: 2.2rem;
}

.data {
    width: 10vw;
    font-size: 2rem;
    text-transform:capitalize;
    font-weight: bold;
    text-align: center;
    color:teal;
    border-width: 10px;
    border-style:ridge;
    border-radius: 10px;
    border-color: aqua;
    margin: 10px;
    background-color:lightcyan;
}

.forecast {
    text-align: center;
    border-style:ridge;
    border-radius: 10px;
    border-color: aqua;
    border-width: 10px;
    background-color: lightcyan;
    margin: 10px;
    padding: 20px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.day {
    color: black;
    background:lightblue;
    border-style: groove;
    border-color: aqua;
    border-width: 10px;
    border-radius: 10px;
    width: 8vw;
    height: 60vh;
    margin: 10px;
}