body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-radial-gradient(lightcyan,magenta, aqua, purple, blue);
    display: flex;
    flex-direction: column;
}
.container1{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.search {
    display: flex;
    flex-direction: column;
    text-align: center; 
    text-transform:capitalize;
    font-weight: bold;
    font-size: 15px;
    color: navy;
    border-color: aqua;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    background-image:-webkit-radial-gradient(yellow,lightcyan,lime,teal);
}

h1 {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
border-style: ridge;
border-width: 5px;
border-radius: 10px;
border-color: magenta;
background-image: -webkit-radial-gradient(yellow, lightcyan, aqua);
    font-size: 25px;
}

#search-input {
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    border-color: aqua;
    font-weight: bold;  
    border-radius: 10px;
    border-width: 5px;
}

.searchbtn {
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: aqua;
    border-style: ridge;
    background-image:-webkit-radial-gradient(aqua, lightcyan, magenta, teal);
    cursor: pointer;
    color: navy;
    font-size: 18px;
    margin: 5px;
    padding 5px;
}

.searchbtn:hover {
  border-style: dotted;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.historyBtn {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-transform:capitalize;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    color: navy;
    background-image:-webkit-radial-gradient(aqua, lightcyan,magenta, teal);
    border-radius: 10px;
    border-width: 5px;
    border-color: aqua;
    border-style:ridge;
}

.historyBtn:hover {
    border-style: dotted;
}


.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

H2 {
    font-size: 15px;
    color: navy;
    font-weight: bold;
    border-color: aqua;
    border-style: ridge;
    border-radius: 10px;
    border-width: 5px;
    background-image:-webkit-radial-gradient(lightcyan,lime,teal);
}

.current,.fiveday {
    display: flex;
    flex-direction:column;
    text-align: center;    
    margin: 10px;
    padding:10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 5px;
    border-color: aqua;
    background-image:-webkit-radial-gradient(lightcyan, aqua, teal,purple);
}

#city {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-decoration: underline;
   
}

.weather-today {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-transform:capitalize;
    font-weight: bolder;
    color: navy;
    padding: 5px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 5px;
    border-color: magenta;
    background-image: -webkit-radial-gradient(yellow, lightcyan, aqua);
}

#days {
    display: flex;
    flex-direction: row;
}

.each-day {
    font-size: 12px;
    font-weight: bolder;
    color: navy;
    padding: 10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 5px;
    border-color: magenta;
    background-image: -webkit-radial-gradient(yellow, lightcyan, aqua);
}

.favorable {
    background-image:-webkit-radial-gradient(lime,green);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.moderate {
    background-image: -webkit-radial-gradient(yellow, goldenrod);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.severe {
    background-image: -webkit-radial-gradient(orangered, red);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: ridge;
    border-radius: 10px;
    border-width: 5px;
    border-color: lime;
    background-image: -webkit-radial-gradient(yellow, magenta, aqua);
    color: navy;
    font-size: 15px;
    font-weight: bold;
    margin:10px;
    padding: 5px;
}

 /* media queries */
 @media screen and (max-width: 980px) {
    .weather-today {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
    
    .current {
    display: flex;
    flex-wrap: wrap;
    }
    
    #icon{
        height: 100px;
        width: 100px;
    }

    
    #days {
    
    }
    
    .each-day {
    
    }
 }

 @media screen and (max-width: 768px) {

 }

 @media screen and (max-width: 575px) {

 }

.weather-today {

}

#days {

}

.each-day {

}